header {
    filter: blur(2px);
}
.bg-form
{
    filter: blur(0);
}
.form
{
    height: 300px;
}
.form-buttons{
    margin-top:30px;
}
.no-title
{
    padding-top: 80px;
}
@media only screen and (max-width:500px){
.form{
    width:90%;
    height: 350px;
    margin-left: 5%;
}
    }