
.content {
    top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 90%;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: space-around;

}

section {
    height: 600px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 15px;

}

img {
    height:  75%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and  (min-width: 500px) {
    .content {
    grid-template-columns: 45% 45%;
    }
}
@media screen and  (min-width: 960px) {
    .content {
    grid-template-columns: 30% 30% 30%;
    }
}

